@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
/*Reseteo CSS*/
* {
  margin: 0;
  padding: 0; }

/*Tipografia de Google Fonts*/
html {
  font-size: 0.75em;
  font-family: 'Merriweather', serif; }

header {
  background-color: #1a2250;
  display: flex;
  justify-content: center;
  align-items: center; }
  header img {
    height: 398px; }

.mobile {
  display: none; }

.navbar-custom {
  background: #1a2250 !important;
  margin: 0 auto; }

.navMenu {
  background: #1a2250;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .navMenu ul a {
    color: white;
    text-decoration: none; }
  .navMenu ul li {
    margin-left: 50px;
    padding: 5px;
    transition: transform 2s;
    font-size: 1.75em; }
  .navMenu ul li:hover {
    transform: scale(1.25, 1.5); }
  .navMenu .navbar-toggler {
    color: white; }

.info_estudio {
  height: 500px;
  max-height: 40rem;
  background-color: #9cacbf;
  position: relative;
  padding: 175px; }
  .info_estudio h1 {
    position: relative;
    z-index: 2;
    border: 1px solid black;
    font-size: 2.5em; }
  .info_estudio p {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    font-size: 1.5em; }
  .info_estudio h1, .info_estudio p {
    color: black;
    font-weight: bold;
    text-align: center; }
  .info_estudio img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 0.4;
    max-height: 40rem;
    z-index: 1;
    transition: 1.5s; }

.ubicacion {
  width: 100%;
  background-color: white;
  text-align: center;
  color: black;
  padding: 50px;
  height: 40rem; }
  .ubicacion h2 {
    font-size: 4em; }
  .ubicacion p {
    font-size: 2em; }
  .ubicacion img {
    height: 70%;
    transition: 0.75s;
    opacity: 0.2; }
  .ubicacion img:hover {
    height: 80%;
    opacity: 1; }

.turnos {
  background-color: #032e42;
  color: white;
  height: 40rem;
  text-align: center;
  padding: 20px; }
  .turnos h2 {
    font-size: 3em; }
  .turnos form {
    width: 66%;
    font-size: 1.5em;
    margin: 0 auto; }

button p {
  font-size: 1.5em; }

#servi_juri {
  background-color: white;
  color: black;
  text-align: center;
  height: 400px;
  padding: 40px; }
  #servi_juri h2 {
    font-size: 4em; }
  #servi_juri ul {
    list-style-position: inside; }
    #servi_juri ul li {
      color: black;
      font-size: 1.66667em;
      list-style: none; }
    #servi_juri ul li:hover {
      font-size: 2.5em; }

#equipoJuri {
  background-color: #9cacbf;
  text-align: center;
  height: 520px;
  padding: 40px; }
  #equipoJuri h2 {
    font-size: 4em;
    margin-bottom: 25px; }
  #equipoJuri .equipoLegal {
    height: 150px; }
  #equipoJuri .abogados {
    display: inline-block;
    margin: 0 25px; }
  #equipoJuri .carousel {
    width: 66%;
    margin: 0 auto; }
    #equipoJuri .carousel img {
      height: 350px;
      width: 300px !important;
      margin: 0 auto !important;
      opacity: 0.5; }
    #equipoJuri .carousel div {
      color: white; }
    #equipoJuri .carousel h5 {
      font-size: 3em; }
    #equipoJuri .carousel p {
      font-size: 1.5em; }

#servi_conta {
  background-color: white;
  color: black;
  text-align: center;
  height: 400px;
  padding: 40px; }
  #servi_conta h2 {
    font-size: 4em; }
  #servi_conta ul {
    list-style-position: inside; }
    #servi_conta ul li {
      color: black;
      font-size: 1.66667em;
      list-style: none; }
    #servi_conta ul li:hover {
      font-size: 2.5em; }

#equipoConta {
  background-color: #9cacbf;
  text-align: center;
  height: 520px;
  padding: 40px; }
  #equipoConta h2 {
    font-size: 4em;
    margin-bottom: 25px; }
  #equipoConta .carousel {
    width: 66%;
    margin: 0 auto; }
    #equipoConta .carousel img {
      height: 350px;
      width: 300px !important;
      margin: 0 auto !important;
      opacity: 0.5; }
    #equipoConta .carousel div {
      color: white; }
    #equipoConta .carousel h5 {
      font-size: 3em; }
    #equipoConta .carousel p {
      font-size: 1.5em; }

/*Secciones de About*/
.history {
  height: 700px;
  padding: 50px;
  background-color: white;
  display: grid;
  grid-template-areas: ". titulo ." "historia1 historia2 historia3" "parrafo parrafo parrafo";
  grid-template-columns: 30%;
  justify-items: center;
  align-items: end; }
  .history h2 {
    grid-area: titulo;
    margin: 0 auto;
    font-size: 3.75em; }
  .history p {
    grid-area: parrafo;
    text-align: center;
    margin: 15px;
    font-size: 1.66667em; }
  .history .fotoHistoria {
    width: 60%;
    display: inline;
    transition: 0.75s; }

.fotoHistoria:hover {
  width: 75%; }

.historia1 {
  grid-area: historia1; }

.historia2 {
  grid-area: historia2; }

.historia3 {
  grid-area: historia3; }

.clientes {
  height: 500px;
  background-color: #9cacbf;
  display: grid;
  grid-template-areas: ". opinion ." "nombre1 nombre2 nombre3";
  justify-items: center;
  grid-template-columns: 30%; }
  .clientes h2 {
    grid-area: opinion;
    margin: 15px auto; }
  .clientes img {
    height: 300px;
    width: auto; }

.cl1 {
  grid-area: nombre1; }

.cl2 {
  grid-area: nombre2; }

.cl3 {
  grid-area: nombre3; }

.cliente {
  width: 10em;
  transition: 0.75s; }

.valoracion {
  text-align: center; }

.contacto {
  padding: 50px;
  font-size: 1.5em;
  color: white;
  background-color: #032e42;
  text-align: center; }
  .contacto h2 {
    font-size: 2em; }
  .contacto li {
    color: white;
    list-style: none; }
  .contacto form {
    width: 66%;
    margin: 0 auto; }

.modal-dialog {
  color: black; }

footer {
  background-color: #0a1417;
  height: 15rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  padding: 3em; }
  footer .socialmedia img {
    margin-left: 1em;
    width: 75px;
    margin: 10px;
    transition: 0.5s; }
  footer .socialmedia img:hover {
    width: 80px; }

@media (max-width: 576px) {
  main {
    padding: 0; }
  section {
    width: 100%;
    margin: 0 auto;
    font-size: 0.75em; }
  .mobile {
    display: block;
    background-position: center;
    background-color: #1a2250; }
  .mobile img {
    margin-left: 4.5em; }
  .pc {
    display: none; }
  .ubicacion {
    background-image: url("img/mapa.png");
    background-position: center; }
  .carousel {
    width: 100%; } }
