$altura_seccion: 400px;

#servi_conta{
	background-color: white;
	color: $letra_color;
	text-align: center;
	height: $altura_seccion -200px;
	padding: 40px;
	h2{
		font-size: 4em;
		border-bottom: 1px solid #FFAA00;
	}
	ul{
		list-style-position: inside;
		list-style-image: url("../img/check.png");
		margin-top: 20px;
	li{
		color: $letra_color;
		font-size: $letra / 1.5;
		}
	li:hover{
		font-size: $letra;
	}
	}
}

#equipoConta{
	background-color: $azul;
	text-align: center;
	height: $altura_seccion *1.30;
	padding: 40px;
	h2{
		color: white;
		font-size: 4em;
		margin-bottom: 25px;	
	}
	.carousel{
		width: 66%;
		margin: 0 auto;
		img{
			height: 350px;
			width: 300px !important;
			margin: 0 auto !important;
			opacity: 0.5;
		}
		div{
			color: white;
		}
		h5{
			font-size: 3em;
		}
		p{
			font-size: 1.5em;
		}
	}
}