.contacto{
	padding: 50px;
	font-size: 1.5em;
	color: white;
	background-color: white;
	color: $letra_color;
	text-align: center;
	h2{
		font-size: $letra/1.25;
	}
	li{
		list-style: none;
	}
	form{
		width: 66%;
		margin: 0 auto;
	}
}

.modal-dialog{
	color: black;
}